
:root {
  --blGray: #E2DCD8;
  --bPeach: #FDC59E;
  --bmOrange: #F2AA85;
  --bOrange: #FA6815;
  --bGray: #444448;
}

.Blink{
	color:var(--bOrange);
}

.Blink:hover {
  cursor: pointer;
  color:var(--bOrange);
  font-weight:bold;
}

#dv_select_academy:hover{
	box-shadow: 1px 1px 1px 0px var(--bOrange);
    cursor: pointer;
}

#dv_select_exchange:hover{
	box-shadow: 1px 1px 1px 0px var(--bOrange);
    cursor: pointer;
}


.main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 10px 10px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
.company__info{
	background-color: var(--cBase);
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:var(--cBase);
}
.login_form{
	background-color: #FFFFFF;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #FFFFFF;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}

.form__a{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__a:focus{
	border-bottom-color: #FFFFFF;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}

.btn{
	transition: all .5s ease;
	width: 30%;
	border-radius: 30px;
	color:var(--cBase);
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #6B3E6C;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: var(--cBase);
	color: var(--cBack2);
}
/*-------------------- 15. Modal ------------------- */

.child-media {
    padding-left: 100px;
}

.modal-dialog.modal-xl {
    max-width: 100%;
}

/*-------------------- END Modal ------------------- */