<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MaiApp - Cadastro de Código de Referência de Cotista</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../static/images/icon/favicon.ico">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/themify-icons.css">
    <link rel="stylesheet" href="../static/css/metisMenu.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css">
    <link rel="stylesheet" href="../static/css/typography.css">
    <link rel="stylesheet" href="../static/css/default-css.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="stylesheet" href="../static/css/styles.css">

    <script src="../static/js/util.js"></script>


</head>

<body>

<input id="hfUsuario_Id" type="hidden" value='{{ Usuario_Id }}'>
<input id="hfUsuario_Email" type="hidden" value='{{ Usuario_Email }}'>
<input id="hfUsuario_Auth" type="hidden" value='{{ Usuario_Auth }}'>
<input id="hfpicture" type="hidden" value='{{ picture }}'>
<input id="hfHeaderUserName" type="hidden" value='{{ HeaderUserName }}'>

<input id="hfGlbls" type="hidden" >
<input id="hfListaBolsa" type="hidden">
<input id="hfListaMoeda" type="hidden">
<input id="hfListaidBolsa" type="hidden">
<input id="hfListaidMoeda" type="hidden">
<input id="hfListaFundosDaCasa" type="hidden">
<input id="hfListaCotistaByCGC" type="hidden">
<input id="hfListaDistribuidorSimples" type="hidden">


                                <div class="modal fade" id="ModalMsgBox" Name="ModalMsgBox">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Mensagem</h5>
                                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                            </div>
                                            <div class="modal-body" id="tbModalMsgBox" name="tbModalMsgBox" style="height:25vh;">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>



   <div id="preloader">
        <div class="loader"></div>
    </div>


    <div class="page-container">
        {{ SideBar }}
        <div class="main-content">
            {{ Header }}
         <div class="main-content-inner">
                <div class="row">
                    <div class="col-lg-6 col-ml-12">
                        <div class="row">
                            <div class="col-12 mt-5">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Código de Referência de Cotista</h4>

                    

<!-- Formulario MAIN -->
                                        <form>
                                            <div class="form-row align-items-center">
                                                <div class="col-sm-5 my-1">
                                                    <fieldset disabled>
													<div class="input-group">
                                                        <div class="input-group-prepend"><div class="input-group-text">idCodrefCotistaFundo</div></div>
                                                        <input type="text" class="form-control" id="tbIDCodRefCotistaFundo" placeholder="">
                                                    </div>
													</fieldset>
                                                </div>
                                               <div class="col-sm-7 my-1">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend"><div class="input-group-text">Codigo</div></div>
                                                        <input type="text" class="form-control" id="tbCodigo" placeholder="Ex : 3213213">
                                                    </div>
                                                </div>
                                                <div class="col-sm-8 my-1">
   												<label>Alias Fundo</label>
                                                    <div class="input-group">
														<select id="SlctAliasFundo" onChange="CarregaIdFundoSelectionado(this.value)" class="form-control" style="font-size: 80%;">
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4 my-1">
                                                    <fieldset disabled>
													<div class="input-group"  style="margin: 25px 0px 0px 0px;">
                                                        <div class="input-group-prepend"><div class="input-group-text">idFundo</div></div>
                                                        <input type="text" class="form-control" id="tbidFundo" placeholder="">
                                                    </div>
													</fieldset>
                                                </div>

												<div class="col-sm-6 my-1">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend"><div class="input-group-text"> CGC Cotista ou Nome</div></div>
                                                        <input type="text" class="form-control" id="tbCGCCotista" placeholder="Ex : 00000000000000">
                                                    </div>
                                                </div>
												<div class="col-sm-6 my-1"  >
                                                        <a id="submit-btn-area-a" style="margin:10px 10px 0px 0px;float:right;width:70%;" onClick="SearchCotistas()">
                                                            Buscar Cotistas
                                                        </a>
                                                    </div>
                                              </div>

<!-- Formulario Combo Boxes -->

                                            <div class="form-group row">
    											<div class="col-sm-8 my-1">
   												<label>Nome Cotista</label>
                                                    <div class="input-group">
														<select id="SlctNomeCotista" onChange="CarregaIdCotistaSelectionado(this.value)"  class="form-control" style="font-size: 80%;">
														</select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4 my-1">
                                                    <fieldset disabled>
													<div class="input-group" style="margin: 25px 0px 0px 0px;">
                                                        <div class="input-group-prepend"><div class="input-group-text">idCotista</div></div>
                                                        <input type="text" class="form-control" id="tbidCotista" placeholder="">
                                                    </div>
													</fieldset>
                                                </div>

												<div class="col-sm-12 my-1">
   												<label>Distribuidor</label>
                                                    <div class="input-group">
														<select id="SlctDistribuidor" class="form-control" style="font-size: 80%;">
                                                        </select>
                                                    </div>
                                                </div>
												<div class="col-sm-4 my-1">
                                                <label>Administrador</label>
                                                    <div class="input-group">
														<select id="SlctAdministrador" class="form-control" style="font-size: 80%;">
															<option value='BNY MELLON'  >BNY MELLON</option>
															<option value='BRADESCO' >BRADESCO</option>
															<option value='INTRAG' >INTRAG</option>
															<option value='BTG PACTUAL' >BTG PACTUAL</option>
                                                        </select>
                                                    </div>
                                                </div>
												<div class="col-sm-4 my-1">
   												<label>Tipo</label>
                                                    <div class="input-group">
														<select id="SlctTipo" class="form-control" style="font-size: 80%;">
                                                            <option value="N/A" >N/A</option>
                                                            <option value="Seguradora" >Seguradora</option>
                                                            <option value="Outras Empresas do Grupo">Outras Empresas do Grupo</option>
                                                            <option value="RPPS">RPPS</option>
                                                            <option value="Mongeral Fundo de Pensão">Mongeral Fundo de Pensão</option>
                                                            <option value="Fundo de Investimento Interno">Fundo de Investimento Interno</option>
                                                            <option value="Fundo de Pensão">Fundo de Pensão</option>
                                                            <option value="HB">HB</option>
                                                            <option value="P/VGBL">P/VGBL</option>
                                                            <option value="Pessoa Jurídica">Pessoa Jurídica</option>
                                                            <option value="Pessoa Física">Pessoa Física</option>
                                                        </select>
                                                    </div>
                                                </div>
											</div>
										 
<!-- Formulario  Others-->
				 
                                            <div>
                                                <a id="submit-btn-area-a" style="margin:10px 10px 0px 0px;width:150px;float:right;" onClick="Update()" >Salvar</a>
                                                <a id="submit-btn-area-a" style="margin:10px 10px 0px 0px;width:150px;float:right;" onClick="Insert()" >Novo</a>
                                            </div>
                                        </form>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



					<div class="col-lg-6 col-ml-12">
                        <div class="row">
                            <div class="col-12 mt-5">
                                <div class="card">
                                    <div class="card-body">
									
                                                <!-- Listbox Formulario -->							
                                                <div class="search-box pull-left" style = "margin:0px 0px 20px 0px;">
													<form action="#">
														<input type="text" id="TbSearch" name="search" placeholder="Search..." required>
														<a style="cursor:pointer;" OnClick="CarregaBusca()"><i class="ti-search"></i></a>
													</form>
												</div>

                                                <input id="hfPage" type="hidden">
                                                <input id="hfnPages" type="hidden">
                                                <div class="pull-right" style = "margin:0px 0px 50px 0px;" >									
															<nav aria-label="Page navigation example">
																<ul class="pagination justify-content-end">
                                                                     <li class="page-item">
																		<a class="page-link" OnClick="Anterior()">Anterior</a>
																	</li>
                                                                    <li class="page-item"><a id="LblDisplayPage" class="page-link" href="#">-</a></li>
																	<li class="page-item">
																		<a class="page-link" OnClick="Proximo()">Próxima</a>
																	</li>
																</ul>
															</nav>
													</div>
										
                                                    <div class="single-table">
                                                        <div class="table-responsive">
                                                            <table class="table text-center">
                                                                <thead class="text-uppercase">
                                                                    <tr>
                                                                        <th scope="col">Código</th>
                                                                        <th scope="col">Alias Fundo</th>
                                                                        <th scope="col">Cotista</th>
                                                                        <th scope="col"></th>
                                                                        <th scope="col"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="TblDados">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                        
										
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


					

					
					
                </div>

            </div>
        </div>
        <!-- main content area end -->
		
		
		
		
		
		
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>© Versão Beta</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    

    <script src="../static/js/modernizr-2.8.3.min.js"></script>
        <script src="../static/js/jquery-2.2.4.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/owl.carousel.min.js"></script>
        <script src="../static/js/metisMenu.min.js"></script>
        <script src="../static/js/jquery.slimscroll.min.js"></script>
        <script src="../static/js/jquery.slicknav.min.js"></script>
        <script src="../static/js/plugins.js"></script>
        <script src="../static/js/scripts.js"></script>
    
        <script>
            var jsonData = JSON.parse('{{ jsnDt | tojson | safe}}');

            var listafundosdacasa = jsonData['ListaFundosDaCasa']
            //hfListaFundosDaCasa.value = listafundosdacasa
            var z = document.createElement('option'); // is a node
                z.innerHTML = 'Selecione um Fundo...';
                z.setAttribute('disabled',true)
                z.setAttribute('selected',true)
                document.getElementById('SlctAliasFundo').appendChild(z) 
            for (var key in listafundosdacasa) {
                var z = document.createElement('option'); // is a node
                z.innerHTML = key;
                z.setAttribute('value',listafundosdacasa[key])
                document.getElementById('SlctAliasFundo').appendChild(z) 
            }
            var listadistribuidorsimples = jsonData['ListaDistribuidorSimples']
            var z = document.createElement('option'); // is a node
                z.innerHTML = 'Selecione um Distribuidor...';
                z.setAttribute('disabled',true)            
                z.setAttribute('selected',true)
                document.getElementById('SlctDistribuidor').appendChild(z) 
            for (var key in listadistribuidorsimples) {
                var z = document.createElement('option'); // is a node
                z.innerHTML = key;
                z.setAttribute('value',listadistribuidorsimples[key])
                document.getElementById('SlctDistribuidor').appendChild(z) 
            }

            var UserName = document.getElementById('hfHeaderUserName').value;
            var picturepath = document.getElementById('hfpicture').value;
            document.getElementById('imgProfile').src = picturepath;
            document.getElementById('NameUser').innerHTML = UserName + "<i class='fa fa-angle-down'></i>";
        </script>
    <script> 


    function CarregaIdFundoSelectionado(Macro){document.getElementById("tbidFundo").value = Macro;}
    function CarregaIdCotistaSelectionado(Macro){document.getElementById("tbidCotista").value = Macro;}

    function SearchCotistas(){
    var fd = new FormData();
    var oReq = new XMLHttpRequest();
    fd.append("idUsuario", document.getElementById("hfUsuario_Id").value );
    fd.append("UsuarioAuth", document.getElementById("hfUsuario_Auth").value );
    fd.append("CGC", document.getElementById("tbCGCCotista").value);
    oReq.open('POST', "/Cadastro/CodRefCotistaFundo/CarregaListaCotistasByCGC",true);
    oReq.onload = function() {
                var result = JSON.parse(this.responseText);    
                if (trim(result['resposta']) == trim("Falha na Autenticação")){
                    window.location.href = "/Login";
                }
                else if((result['resposta']) != trim("Ok")){
                        var dvMdl = document.getElementById("tbModalMsgBox");
                        while (dvMdl.lastElementChild) {dvMdl.removeChild(dvMdl.lastElementChild);}
                        dvMdl.innerhtml = "";
                        var span = document.createElement('span');
                        span.setAttribute('style',"float:left;margin:15px 0px 0px 15px;");
                        dvMdl.appendChild(span);
                        span.innerHTML = "<p>" + trim(result['resposta']) + ".</p>";
                        $(document).ready(function(){$('#ModalMsgBox').modal('show');})
                        return;
                }else{
                        var Dados=result['Dados'];
                        while (document.getElementById("SlctNomeCotista").lastElementChild) 
                        {document.getElementById("SlctNomeCotista").removeChild(document.getElementById("SlctNomeCotista").lastElementChild);}
                        document.getElementById("hfListaCotistaByCGC").value = JSON.stringify(Dados);
                        var z = document.createElement('option'); // is a node
                        z.innerHTML = 'Selecione um Cotista...';
                        z.setAttribute('disabled',true)
                        z.setAttribute('selected',true)
                        document.getElementById("SlctNomeCotista").appendChild(z) 
                        for (k in Dados) {
                            var option = document.createElement("option");
                            option.innerHTML = k;
                            option.setAttribute('value',Dados[k])
                            document.getElementById("SlctNomeCotista").add(option);
                        }
                    }
                }
                oReq.send(fd);
    }



    function Update(){
    var fd = new FormData();
    fd.append("idUsuario", document.getElementById("hfUsuario_Id").value);
    fd.append("UsuarioAuth", document.getElementById("hfUsuario_Auth").value );
    fd.append("IDCodRefCotistaFundo", document.getElementById("tbIDCodRefCotistaFundo").value);
    fd.append("idCotista", document.getElementById("tbidCotista").value);
    fd.append("idFundo", document.getElementById("tbidFundo").value);
    fd.append("Codigo", document.getElementById("tbCodigo").value);
    fd.append("Administrador", document.getElementById("SlctAdministrador").value);
    fd.append("idDistribuidor", document.getElementById("SlctDistribuidor").value);
    fd.append("Tipo", document.getElementById("SlctTipo").value);
    var oReq = new XMLHttpRequest();
    oReq.open('POST', "/Cadastro/CodRefCotistaFundo/Update",true);
    oReq.onload = function() {
                var result = JSON.parse(this.responseText);    
                if (trim(result['resposta']) == trim("Falha na Autenticação")){
                    window.location.href = "/Login";
                }
                else{
                        var dvMdl = document.getElementById("tbModalMsgBox");
                        while (dvMdl.lastElementChild) {dvMdl.removeChild(dvMdl.lastElementChild);}
                        dvMdl.innerhtml = "";
                        var span = document.createElement('span');
                        span.setAttribute('style',"float:left;margin:15px 0px 0px 15px;");
                        dvMdl.appendChild(span);
                        span.innerHTML = "<p>" + trim(result['resposta']) + ".</p>";
                        $(document).ready(function(){$('#ModalMsgBox').modal('show');})
                        return;
                    }
                }
                oReq.send(fd);
    }

    function Insert(){
    var fd = new FormData();
    fd.append("idUsuario", document.getElementById("hfUsuario_Id").value);
    fd.append("UsuarioAuth", document.getElementById("hfUsuario_Auth").value );
    fd.append("IDCodRefCotistaFundo", document.getElementById("tbIDCodRefCotistaFundo").value);
    fd.append("idCotista", document.getElementById("tbidCotista").value);
    fd.append("idFundo", document.getElementById("tbidFundo").value);
    fd.append("Codigo", document.getElementById("tbCodigo").value);
    fd.append("Administrador", document.getElementById("SlctAdministrador").value);
    fd.append("idDistribuidor", document.getElementById("SlctDistribuidor").value);
    fd.append("Tipo", document.getElementById("SlctTipo").value);
    var oReq = new XMLHttpRequest();
    oReq.open('POST', "/Cadastro/CodRefCotistaFundo/Insert",true);
    oReq.onload = function() {
                var result = JSON.parse(this.responseText);    
                if (trim(result['resposta']) == trim("Falha na Autenticação")){window.location.href = "/Login";}
                else{
                        var dvMdl = document.getElementById("tbModalMsgBox");
                        while (dvMdl.lastElementChild) {dvMdl.removeChild(dvMdl.lastElementChild);}
                        dvMdl.innerhtml = "";
                        var span = document.createElement('span');
                        span.setAttribute('style',"float:left;margin:15px 0px 0px 15px;");
                        dvMdl.appendChild(span);
                        span.innerHTML = "<p>" + trim(result['resposta']) + ".</p>";
                        $(document).ready(function(){$('#ModalMsgBox').modal('show');})
                        return;
                    }
                }
                oReq.send(fd);
    }


    function CarregaBusca(){
    document.getElementById("hfPage").value = 1;
    var fd = new FormData();
    fd.append("idUsuario", document.getElementById("hfUsuario_Id").value);
    fd.append("UsuarioAuth", document.getElementById("hfUsuario_Auth").value );
    fd.append("Search", document.getElementById("TbSearch").value);
    fd.append("Pag", 1);
    fd.append("nPerPag", 10);
    var oReq = new XMLHttpRequest();
    oReq.open('POST', "/Cadastro/CodRefCotistaFundo/Search",true);
    oReq.onload = function() {
                                    var result = JSON.parse(this.responseText);  
                                    var Tbl = document.getElementById("TblDados");
                                    while (Tbl.lastElementChild) {Tbl.removeChild(Tbl.lastElementChild);}  
                                    Tbl.innerhtml = "";
                                    var result = JSON.parse(this.responseText);    
                                    if (trim(result['resposta']) == trim("Falha na Autenticação")){window.location.href = "/Login";exit;}
                                    if (trim(result['resposta']) != trim("Ok"))
                                    {document.getElementById("LblDisplayPage").innerText='-';throw new Error(trim(result['resposta']));exit;}
                                    else{
                                        var Dados=result['Dados'];
                                        document.getElementById("hfnPages").value = Dados["nPags"];
                                        document.getElementById("LblDisplayPage").innerText = Dados["Pag"]+" de "+Math.max(Dados["nPags"],1) ;
                                        for (k in Dados["Lista"]) {
                                                                    var Header = document.createElement('tr');
                                                                    Header.setAttribute('class',"heading-td")
                                                                    Header.setAttribute('id',k);
                                                                    var HeaderCol = document.createElement('td');HeaderCol.innerHTML = Dados["Lista"][k]["Codigo"];Header.appendChild(HeaderCol);
                                                                    var HeaderCol = document.createElement('td');HeaderCol.innerHTML = Dados["Lista"][k]["Fundo"];Header.appendChild(HeaderCol);
                                                                    var HeaderCol = document.createElement('td');HeaderCol.innerHTML = Dados["Lista"][k]["Cotista"];Header.appendChild(HeaderCol);
                                                                    var HeaderCol = document.createElement('td');HeaderCol.innerHTML = '<a id="DeleteObj#'+k+'" onClick="Delete(this.id)"><i class="ti-trash"></i></a>';Header.appendChild(HeaderCol);
                                                                    var HeaderCol = document.createElement('td');HeaderCol.innerHTML = '<a id="DisplayObj#'+k+'" onClick="Display(this.id)"><i class="ti-eye"></i></a>';Header.appendChild(HeaderCol);
                                                                    Tbl.appendChild(Header);
                                                                    }
                                    }
                                }
    oReq.send(fd);
    }


    function Display(s){
    var idLista = document.getElementById(s).id;
    var fd = new FormData();
    fd.append("IDCodRefCotistaFundo", trim(Right(idLista,idLista.length-idLista.search("#")-1)));
    fd.append("idUsuario", document.getElementById("hfUsuario_Id").value);
    fd.append("UsuarioAuth", document.getElementById("hfUsuario_Auth").value );
    var oReq = new XMLHttpRequest();
    oReq.open('POST', "/Cadastro/CodRefCotistaFundo/Load",true);
    oReq.onload = function() {
                                var result = JSON.parse(this.responseText); 
                                if (trim(result['resposta']) == trim("Falha na Autenticação")){window.location.href = "/Login";exit;}
                                if (trim(result['resposta']) != trim("Ok")){throw new Error(trim(result['resposta']));exit;}
                                else{
                                    var Dados=result['Dados'];
                                    document.getElementById("tbIDCodRefCotistaFundo").value = Dados["IDCodRefCotistaFundo"];
                                    document.getElementById("tbidCotista").value = Dados["idCotista"];
                                    var z = document.createElement('option'); // is a node
                                    z.innerHTML = Dados["NomeCotista"];
                                    z.setAttribute('value',Dados["idCotista"])
                                    document.getElementById('SlctNomeCotista').appendChild(z) 
                                    document.getElementById("SlctNomeCotista").value = Dados["idCotista"] ;
                                    document.getElementById("tbidFundo").value = Dados["idFundo"];
                                    document.getElementById("SlctAliasFundo").value = Dados["idFundo"];
                                    document.getElementById("tbCodigo").value = Dados["Codigo"];
                                    document.getElementById("SlctAdministrador").value = Dados["Administrador"];
                                    document.getElementById("SlctDistribuidor").value = Dados["idDistribuidor"];
                                    document.getElementById("SlctTipo").value  = Dados["Tipo"];
                                    }
                              }
    oReq.send(fd);
    }

    function Delete(s){
    var idLista = document.getElementById(s).id;
    var fd = new FormData();
    fd.append("IDCodRefCotistaFundo", trim(Right(idLista,idLista.length-idLista.search("#")-1)));
    fd.append("idUsuario", document.getElementById("hfUsuario_Id").value);
    fd.append("UsuarioAuth", document.getElementById("hfUsuario_Auth").value );
    var oReq = new XMLHttpRequest();
            oReq.open('POST', "/Cadastro/CodRefCotistaFundo/Delete",true);
            oReq.onload = function() {
                                            var result = JSON.parse(this.responseText); 
                                            if (trim(result['resposta']) == trim("Falha na Autenticação")){window.location.href = "/Login";exit;}
                                            else{


                                                var Tbl = document.getElementById("TblDados");
                                                var vv = false;
                                                for (var i = 0, row; row = Tbl.rows[i]; i++) {
                                                    if (row.getAttribute('id') == trim(Right(idLista, idLista.length - idLista.search("#") - 1))) {
                                                        Tbl.deleteRow(i);
                                                    }
                                                }   
                                                

                                                    var dvMdl = document.getElementById("tbModalMsgBox");
                                                    while (dvMdl.lastElementChild) {dvMdl.removeChild(dvMdl.lastElementChild);}
                                                    dvMdl.innerhtml = "";
                                                    var span = document.createElement('span');
                                                    span.setAttribute('style',"float:left;margin:15px 0px 0px 15px;");
                                                    dvMdl.appendChild(span);
                                                    span.innerHTML = "<p>" + trim(result['resposta']) + ".</p>";
                                                    $(document).ready(function(){$('#ModalMsgBox').modal('show');})
                                                    return;
                                                }
                                       }
            oReq.send(fd);
    }

    function Proximo(){

    if(parseFloat(document.getElementById("hfnPages").value) >= parseFloat(document.getElementById("hfPage").value)+1)
    {document.getElementById("hfPage").value=parseFloat(document.getElementById("hfPage").value)+1;}

    var fd = new FormData();
    fd.append("idUsuario", document.getElementById("hfUsuario_Id").value);
    fd.append("UsuarioAuth", document.getElementById("hfUsuario_Auth").value );
    fd.append("Search", document.getElementById("TbSearch").value);
    fd.append("Pag", document.getElementById("hfPage").value);
    fd.append("nPerPag", 10);

    var oReq = new XMLHttpRequest();
    oReq.open('POST', "/Cadastro/CodRefCotistaFundo/Search",true);
    oReq.onload = function() {
            var result = JSON.parse(this.responseText);  
            var Tbl = document.getElementById("TblDados"); 
            var result = JSON.parse(this.responseText);    
            if (trim(result['resposta']) == trim("Falha na Autenticação")){window.location.href = "/Login";exit;}
            if (trim(result['resposta']) != trim("Ok"))
            {document.getElementById("LblDisplayPage").innerText='-';throw new Error(trim(result['resposta']));exit;}
            else{
                while (Tbl.lastElementChild) {Tbl.removeChild(Tbl.lastElementChild);}  
                Tbl.innerhtml = "";
                var Dados=result['Dados'];
                document.getElementById("hfnPages").value = Dados["nPags"];
                document.getElementById("LblDisplayPage").innerText = Dados["Pag"]+" de "+Math.max(Dados["nPags"],1) ;
                for (k in Dados["Lista"]) {
                    var Header = document.createElement('tr');
                    Header.setAttribute('class',"heading-td")
                    Header.setAttribute('id',k);
                    var HeaderCol = document.createElement('td');HeaderCol.innerHTML = Dados["Lista"][k]["Codigo"];Header.appendChild(HeaderCol);
                    var HeaderCol = document.createElement('td');HeaderCol.innerHTML = Dados["Lista"][k]["Fundo"];Header.appendChild(HeaderCol);
                    var HeaderCol = document.createElement('td');HeaderCol.innerHTML = Dados["Lista"][k]["Cotista"];Header.appendChild(HeaderCol);
                    var HeaderCol = document.createElement('td');HeaderCol.innerHTML = '<a id="DeleteObj#'+k+'" onClick="Delete(this.id)"><i class="ti-trash"></i></a>';Header.appendChild(HeaderCol);
                    var HeaderCol = document.createElement('td');HeaderCol.innerHTML = '<a id="DisplayObj#'+k+'" onClick="Display(this.id)"><i class="ti-eye"></i></a>';Header.appendChild(HeaderCol);
                    Tbl.appendChild(Header);
                    }
            }
        }
    oReq.send(fd);
    }

    function Anterior(){

    if(1 <= parseFloat(document.getElementById("hfPage").value)-1)
    {document.getElementById("hfPage").value=parseFloat(document.getElementById("hfPage").value)-1;}
    else{throw new Error("Não tem pagina menor que 1!");}

    var fd = new FormData();
    fd.append("idUsuario", document.getElementById("hfUsuario_Id").value);
    fd.append("UsuarioAuth", document.getElementById("hfUsuario_Auth").value );
    fd.append("Search", document.getElementById("TbSearch").value);
    fd.append("Pag", document.getElementById("hfPage").value);
    fd.append("nPerPag", 10);
    var oReq = new XMLHttpRequest();
    oReq.open('POST', "/Cadastro/CodRefCotistaFundo/Search",true);
    oReq.onload = function() {
            var result = JSON.parse(this.responseText);  
            var Tbl = document.getElementById("TblDados"); 
            var result = JSON.parse(this.responseText);    
            if (trim(result['resposta']) == trim("Falha na Autenticação")){window.location.href = "/Login";exit;}
            if (trim(result['resposta']) != trim("Ok"))
            {document.getElementById("LblDisplayPage").innerText='-';throw new Error(trim(result['resposta']));exit;}
            else{
                while (Tbl.lastElementChild) {Tbl.removeChild(Tbl.lastElementChild);}  
                Tbl.innerhtml = "";
                var Dados=result['Dados'];
                document.getElementById("hfnPages").value = Dados["nPags"];
                document.getElementById("LblDisplayPage").innerText = Dados["Pag"]+" de "+Math.max(Dados["nPags"],1) ;
                for (k in Dados["Lista"]) {
                    var Header = document.createElement('tr');
                    Header.setAttribute('class',"heading-td")
                    Header.setAttribute('id',k);
                    var HeaderCol = document.createElement('td');HeaderCol.innerHTML = Dados["Lista"][k]["Codigo"];Header.appendChild(HeaderCol);
                    var HeaderCol = document.createElement('td');HeaderCol.innerHTML = Dados["Lista"][k]["Fundo"];Header.appendChild(HeaderCol);
                    var HeaderCol = document.createElement('td');HeaderCol.innerHTML = Dados["Lista"][k]["Cotista"];Header.appendChild(HeaderCol);
                    var HeaderCol = document.createElement('td');HeaderCol.innerHTML = '<a id="DeleteObj#'+k+'" onClick="Delete(this.id)"><i class="ti-trash"></i></a>';Header.appendChild(HeaderCol);
                    var HeaderCol = document.createElement('td');HeaderCol.innerHTML = '<a id="DisplayObj#'+k+'" onClick="Display(this.id)"><i class="ti-eye"></i></a>';Header.appendChild(HeaderCol);
                    Tbl.appendChild(Header);
                    }
            }
        }
    oReq.send(fd);
    }

    </script>



</body>

</html>
