<!DOCTYPE html>
<html class="no-js" lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>MaiApp - Estratégias</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="../static/images/icon/favicon.ico">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/themify-icons.css">
        <link rel="stylesheet" href="../static/css/metisMenu.css">
        <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../static/css/slicknav.min.css">
        <link rel="stylesheet" href="../static/css/typography.css">
        <link rel="stylesheet" href="../static/css/default-css.css">
        <link rel="stylesheet" href="../static/css/responsive.css">
        <link rel="stylesheet" href="../static/css/styles.css">
    
        <script src="../static/js/util.js"></script>

    </head>
	<body>

    <input id="hfUsuario_Id" type="hidden" value='{{ Usuario_Id }}'>
    <input id="hfUsuario_Email" type="hidden" value='{{ Usuario_Email }}'>
    <input id="hfUsuario_Auth" type="hidden" value='{{ Usuario_Auth }}'>
    <input id="hfpicture" type="hidden" value='{{ picture }}'>
    <input id="hfHeaderUserName" type="hidden" value='{{ HeaderUserName }}'>		

        <div class="modal fade" id="ModalMsgBox">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Mensagem</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body" id="tbModalMsgBox" style="height:25vh;">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        

		<div id="preloader">
			<div class="loader"></div>
		</div>
		<div class="page-container">
            {{ SideBar }}
			<div class="main-content">
                {{ Header }}
                <div class="main-content-inner">
					<div class="row">
						<div class="col-lg-12 col-ml-12">
							<div class="row">
								<div class="col-12 mt-5">
									<div class="card">
										<div class="card-body">
											<h4 class="header-title">Estratégias</h4>
											<input disabled readonly type="hidden" class="form-control input-custom" id="IDCotista">
											<form id="form-passivo-helper">
												<div class="row">
													<div class="col-lg-4">
														<div class="form-group">
															<label for="strategies">Renoamear Estrategias</label>
															<select id="strategies" name="strategies" class="form-control input-custom input-custom">
																<option>Selecione</option>
															</select>
														</div>
													</div>
													<div class="col-lg-4">
														<div class="form-group">
															<label for="microStrategies">Micro Estratégias</label>
															<select disabled id="microStrategies" name="microStrategies" class="form-control input-custom input-custom">
																<option>Selecione</option>
															</select>
														</div>
													</div>
													<div class="col-lg-4">
														<div class="form-group">
															<label for="newMicroStrategies">Nova Micro Estratégia</label>
															<input disabled placeholder="Nova micro estratégia" type="text" id="newMicroStrategies" name="newMicroStrategies" class="form-control input-custom input-custom">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="float-right">
															<a id="submit-btn-area-a" OnClick="SalvaAlteracoesCadastroEstrategia()" class="btn-save-strategies" style="margin: 0 0 0 0; width:150px; float:right">
																Cadastrar
															</a>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


        <script src="../static/js/modernizr-2.8.3.min.js"></script>
        <script src="../static/js/jquery-2.2.4.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/owl.carousel.min.js"></script>
        <script src="../static/js/metisMenu.min.js"></script>
        <script src="../static/js/jquery.slimscroll.min.js"></script>
        <script src="../static/js/jquery.slicknav.min.js"></script>
        <script src="../static/js/plugins.js"></script>
        <script src="../static/js/scripts.js"></script>
    
        <script>
            var jsonData = JSON.parse('{{ jsnDt | tojson | safe}}');
            var UserName = document.getElementById('hfHeaderUserName').value;
            var picturepath = document.getElementById('hfpicture').value;
            document.getElementById('imgProfile').src = picturepath;
            document.getElementById('NameUser').innerHTML = UserName + "<i class='fa fa-angle-down'></i>";
        </script>

<script> 
    function SalvaAlteracoesCadastroEstrategia(){
        if(document.getElementById("InptSenha1").value !== document.getElementById("InptSenha2").value)
        {
            var dvMdl = document.getElementById("tbModalMsgBox");
                    while (dvMdl.lastElementChild) {dvMdl.removeChild(dvMdl.lastElementChild);}
                    dvMdl.innerhtml = "";
                    var span = document.createElement('span');
                    span.setAttribute('style',"float:left;margin:15px 0px 0px 15px;");
                    dvMdl.appendChild(span);
                    span.innerHTML = "<p>" + 'Senhas Não Conferem!!' + ".</p>";
                    $(document).ready(function(){$('#ModalMsgBox').modal('show');})
                    return;
        }
        var fd = new FormData();
        fd.append("idUsuario", document.getElementById("hfUsuario_Id").value);
        fd.append("Nome", document.getElementById("InptNome").value);
        fd.append("Email", document.getElementById("InptEmail").value);
        fd.append("Senha", document.getElementById("InptSenha1").value);
        var oReq = new XMLHttpRequest();
        oReq.open('POST', "/Usuario/GravaDados",true);
        oReq.onload = function() {
            var result = JSON.parse(this.responseText);    
            if (trim(result['resposta']) == trim("Usuario Validado")){
                window.location.href = "Main";
            }
            else{
                    var dvMdl = document.getElementById("tbModalMsgBox");
                    while (dvMdl.lastElementChild) {dvMdl.removeChild(dvMdl.lastElementChild);}
                    dvMdl.innerhtml = "";
                    var span = document.createElement('span');
                    span.setAttribute('style',"float:left;margin:15px 0px 0px 15px;");
                    dvMdl.appendChild(span);
                    span.innerHTML = "<p>" + trim(result['resposta']) + ".</p>";
                    $(document).ready(function(){$('#ModalMsgBox').modal('show');})
                    return;
                }
            }
            oReq.send(fd);
            }        
</script>


    </body>
</html>
