<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="Main.html"><img src="../static/images/Original on Transparent.png" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>Dashboard</span></a>
                        <ul class="collapse">
                            <li><a href="/Main">Controles</a></li>
                            <li><a href="/Overview">Overview</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-slice"></i><span>Cadastro</span></a>
                        <ul class="collapse">
<!--						    <li><a href="/Cadastro/Estrategia">Estratégias</a></li>-->
                            <li><a href="/Cadastro/Operacao">Operação</a></li>
                            <li><a href="/Cadastro/Fundo">Fundo</a></li>
                            <li><a href="/Cadastro/RF">Renda Fixa</a></li>
                            <li><a href="/Cadastro/RV">Renda Variável</a></li>
                            <li><a href="/Cadastro/Futuro">Futuro</a></li>
                            <li><a href="/Cadastro/Opcao">Opção</a></li>
                            <li><a href="/Cadastro/Emissor">Emissor</a></li>
                            <li><a href="/Cadastro/CodRefCotistaFundo">Codref Cotista</a></li>
                            <li><a href="/Cadastro/Cotista">Cotista</a></li>
                            <li><a href="/Cadastro/Distribuidor">Distribuidor</a></li>
                            <li><a href="/Cadastro/Corretora">Corretora</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-receipt"></i>
                            <span>Boletador</span></a>
                        <ul class="collapse">
                            <li><a href="/Boletador/Ativo">Boletador Ativo</a></li>
                            <li><a href="/Boletador/Passivo">Boletador Passivo</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-layers-alt"></i>
                            <span>Enquadramento</span></a>
                        <ul class="collapse">
                            <li><a style="color:red;" href="/Enquadramento/Cadastro_Regras">Cadastro de Regras</a></li>
                            <li><a style="color:red;" href="/Enquadramento/Cadastro_Controles">Cadastro de Controles</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-palette"></i><span>Risco</span></a>
                        <ul class="collapse">
                            <li><a style="color:red;" href="/Risco/Rotina_Diaria">Rotina Diária</a></li>
                            <li><a style="color:red;" href="/Risco/Curvas">Curvas</a></li>
                            <li><a style="color:red;" href="/Risco/Fatores_Risco">Fatores de Risco</a></li>
                            <li><a style="color:red;" href="/Risco/Precificacao_RF">Precificação Renda Fixa</a></li>
                            <li><a style="color:red;" href="/Risco/Precificacao_OPT">Precificação Opções</a></li>
                            <li><a style="color:red;" href="/Risco/Precificacao_Swap">Precificação Swaps</a></li>
                            <li><a style="color:red;" href="/Risco/Cadastro_Cenarios">Cadastro de Cenários</a></li>
                        </ul>
                    </li>                    
					<li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-align-left"></i><span>Relatórios</span></a>
                        <ul class="collapse">
                            <li><a style="color:red;" href="/Relatorios/Movimentacao">Movimentação do dia</a></li>
                            <li><a style="color:red;" href="/Relatorios/Atribuicao_Perf">Atribuição de Perf.</a></li>
                            <li><a style="color:red;" href="/Relatorios/Laminas">Laminas</a></li>
                            <li><a style="color:red;" href="/Relatorios/Relatorios_Customizados">Relatórios Customizados</a></li>
                            <li><a style="color:red;" href="/Relatorios/Extrato_Risco">Extratos de Risco</a></li>
                            <li><a style="color:red;" href="/Relatorios/Extrato_Enquadramento">Extratos de Enquadramento</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-table"></i><span>Rotina</span></a>
                        <ul class="collapse">
                            <li><a style="color:red;" href="/Rotina/Batimento_Carteira">Batimento Carteira</a></li>
                            <li><a style="color:red;" href="/Rotina/Reset_Base_Passivo">Reset Base Passivo</a></li>
                            <li><a style="color:red;" href="/Rotina/Tratamento_Dif">Tratamento de Dif.</a></li>
                            <li><a style="color:red;" href="/Rotina/Carga_Dados">Carga de Dados</a></li>
                            <li><a style="color:red;" href="/Rotina/Gerencial">Gerencial</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
