<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
                <div class="nav-btn pull-left" style="Margin-top:0px;">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left"></h4>
            </div>
        </div>
        <div class="col-sm-6 clearfix" >
            <div class="user-profile pull-right" style="min-width:300px;min-height:80px;">

                <img id="imgProfile" class='avatar user-thumb' alt='avatar' style="min-width:50px;min-height:50px;" >
                <h4 id='NameUser' class='user-name dropdown-toggle' data-toggle='dropdown' ></h4>


                <div class="dropdown-menu">
                    <a id="a#OptionUser@LogOut" class="dropdown-item" href="../Login">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>
