<!doctype html>
<?php
session_start();
?>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Recover</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../static/images/icon/favicon.ico">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/themify-icons.css">
    <link rel="stylesheet" href="../static/css/metisMenu.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css">
    <link rel="stylesheet" href="../static/css/typography.css">
    <link rel="stylesheet" href="../static/css/default-css.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="stylesheet" href="../static/css/styles.css">

    <script src="../static/js/util.js"></script>

</head>

<body>

                                <div class="modal fade" id="ModalMsgBox" Name="ModalMsgBox">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Mensagem</h5>
                                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                            </div>
                                            <div class="modal-body" id="tbModalMsgBox" name="tbModalMsgBox" style="height:25vh;">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                    

        <div class="login-area login-s2">
        <div class="container">
            <div class="login-box ptb--100">
                <form>
                    <div class="login-form-head" style="Margin:0px 0px 0px 0px;Border:0px 0px 0px 0px;Padding:0px 0px 0px 0px;" >
						<div class="logo" style="Margin:0px 0px 0px 0px;">
							<a href="index"><img src="../static/images/Original on Transparent.png" alt="logo"></a>
						</div>
                    </div>
                    <div class="login-form-body" style="Margin:0px 0px 0px 0px;">
                        <div class="form-gp">
                            <label for="TbEmail">Email</label>
                            <input type="email" id="exampleInputEmail1" name="exampleInputEmail1">
                            <i class="ti-email"></i>
                            <div class="text-danger"></div>
                        </div>
                        <div class="submit-btn-area">
                        <a id="btn_IniciaRessetSenha" runat="server" OnClick="InciaRessetSenha()" >Gerar Email de Alteração de Cadastro</a>
                        <div id="myProgress" style="border: solid gray;Margin:10px 0px 0px 0px;display:block;width:100%;visibility:hidden;background-color: #FFFFFF; border-radius: 40px;"><div style="width: 1%;  height: 30px; border-radius: 40px; background-color: #7e74ff;" id="myBar"></div></div>
                        </div>
                        <div class="row mb-4 rmber-area" style="margin-top:10px;">
                            <div class="col-12 text-center">
                                <a href="index" >Voltar à Tela de Login</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

	<script src="../static/js/modernizr-2.8.3.min.js"></script>
    <script src="../static/js/jquery-2.2.4.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/metisMenu.min.js"></script>
    <script src="../static/js/jquery.slimscroll.min.js"></script>
    <script src="../static/js/jquery.slicknav.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/scripts.js"></script>

    <script>
        function InciaRessetSenha(){
            var fd = new FormData();
            fd.append("Email", document.getElementById("exampleInputEmail1").value);
            var oReq = new XMLHttpRequest();
            oReq.open('POST', "InciaRessetSenha",true);
            oReq.onload = function() {
                var result = JSON.parse(this.responseText);    
                if (trim(result['resposta']) == trim("Usuario Validado")){
                window.location.href = "template";
                }
                else{
                        var dvMdl = document.getElementById("tbModalMsgBox");
                        while (dvMdl.lastElementChild) {dvMdl.removeChild(dvMdl.lastElementChild);}
                        dvMdl.innerhtml = "";
                        var span = document.createElement('span');
                        span.setAttribute('style',"float:left;margin:15px 0px 0px 15px;");
                        dvMdl.appendChild(span);
                        span.innerHTML = "<p>" + trim(result['resposta']) + ".</p>";
                        $(document).ready(function(){$('#ModalMsgBox').modal('show');})
                        return;
                    }
            }
            console.log('Enviando Email!!!')
            oReq.send(fd);
        }
    </script>

</body>

</html>